html{
    background-color: rgba(28, 29, 28, 0.89);
}

h1{
    color:rgba(240, 243, 240, 0.986);
    text-align: center;
}

ul{
    list-style-type: none;
    margin-top: 25px;
    margin-left: 5px;
    padding: 0;
}

li{
    background-color:rgba(112, 112, 112, 0.932);
    display:inline;
    padding: 14px;
    border-radius: 5px;
}

a{
    color: rgba(240, 243, 240, 0.986);
    text-decoration: none;
}
